.spray-prediction {
  /* background-color: rgba(0, 0, 0, 0); */
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .flex-container-spray-times {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
} */
.item {
  margin: 10px;
}
.first-row {
  margin-top: 10vh;
}
.city-progress-bar {
  width: 40vw;
}

.fill {
  max-height: 20vh;
}
.fill img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* .header-row div {
  padding: 0px;
} */

.page-description {
  /* background-color: rgba(0, 0, 0, 0); */
}
.flex-container .form-group {
  margin: 0px;
}

.title-box {
  background-color: rgba(0, 0, 0, 0) !important;
}
